<section class="call-bar">
  <div class="container">
    <div class="row">
      <div class="header-info">
        <div class="col-xs-12">
          <div class="phone">For Enquiries: &nbsp;&nbsp;<img
              src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
              style="height:12px;width:15px">&nbsp;&nbsp;<a style="color:#8b8b8b" href="tel:+1 989 2682922"> +1 989
              2682922</a></div>
        </div>
        <div class="col-xs-12">
          <div class="phone">For India Enquiries: <a style="color:#8b8b8b" href="tel:+91 4049633996">+91
              40-4963-3996</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<nav class="navbar navbar-default" id="main-nav">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.anvayaa.com/"><img src="https://www.anvayaa.com/src/img/logo.png"
          width="100" alt="Anvayaa" title="Anvayaa" id="main-logo"></a>
          <div class="header-info">
            <div class="navbar-brand" href="https://www.anvayaa.com/" style="width: 175px;"></div>
          </div>
          
      <div class="header-info">
        <div class="phone">For Enquiries: &nbsp;&nbsp;<img
            src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
            style="height:12px;width:15px">&nbsp;&nbsp;<a style="color:#8b8b8b" href="tel:+1 989 2682922"> +1 989
            2682922</a></div>
      </div>
      <div class="header-info">
        <div class="phone">For Enquiries: <a style="color:#8b8b8b" href="tel:+91 4049633996">+91
            40 4963-3996</a> </div>
      </div>
      

      
      <div class="header-info">
        <a href="https://icicibank.anvayaa.com/Register" class="btn btn-cta btn-md login"
          onclick="ga('send', 'event', 'Login/Sign Up', 'Click');">Login/Sign Up </a>
      </div>
      <!-- <div class="header-info">
        <a href="http://localhost:4200/Register" class="btn btn-cta btn-md login"
          onclick="ga('send', 'event', 'Login/Sign Up', 'Click');">Login/Sign Up </a>
      </div> -->


    </div>
    <div class="header-info">
      <div class="phone">For Enquiries: &nbsp;&nbsp;<img
          src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
          style="height:12px;width:15px">&nbsp;&nbsp;<a style="color:#8b8b8b" href="tel:+1 989 2682922"> +1 989
          2682922</a></div>
      <div class="phone"><a style="color:#8b8b8b" href="tel:+91 4049633996">+91 40-4963-3996</a> </div>
      <a href="https://icicibank.anvayaa.com/Register" class="btn btn-cta btn-md login"
        onclick="ga('send', 'event', 'Login/Sign Up', 'Click');">Login/Sign Up </a>
        <!-- <a href="http://localhost:4200/Register" class="btn btn-cta btn-md login"
        onclick="ga('send', 'event', 'Login/Sign Up', 'Click');">Login/Sign Up </a> -->
      

    </div>
  </div>
</nav>


<script
  type="text/javascript">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "b461c039a985d0ba670fde2facf4383b665a87e544a0cd98a7b29b3d01197a14", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>
<section class="hero-image">
  
  <div class="hero-text">
    <div class="row">
      <div class="col-sm-10">

      </div>
      <div class="col-sm-2">
        <img src="../../assets/images/ICICI-Bank-logo.png"
       alt="Anvayaa" title="Anvayaa"  style="width: 250px;" align="right">

      </div>

    </div>
   
    <div class="row bannertext">
      <div class="col-md-6">
        <h4 class="" style="font-weight: 700;">
          'ICICI Bank in partnership with Anvayaa is now offering a specially Curated Elder Care Plan for its 
          Customers at          
          <label style="color: #fff;"> <s style="font-size: large;"> ₹ 104000</s> <b style="font-size: 22px;"> ₹ 82000* for Resident Indian individuals </b>&nbsp;<b style="font-size: 22px;"><br><s style="font-size: large;"> $ 1270</s>&nbsp; $ 999* for NRI customers '</b></label>
          </h4>
        <button class="btn  btnRegister" (click)="RegisterPage()">Register Now</button>
      </div>
    </div>
  </div>
  
</section>
<div class="mainImg" *ngif="false">
  <div class="col-md-12">
    <div class="imgTitleDiv">
      <div class="imgText">
        "ICICI Bank is now offering Special Elder Care Plans for it's  Customers"
      </div>
      <h6>-In partnership with <b class="nameAnvayaa">Anvayaa</b></h6>
    </div>
    <!-- <img src="../../assets/images/IMG-20180312-WA0028.jpg" class="mainImg" alt="mainImg"> -->
  </div>
</div>





<div class="row">
  <p>
    *A care plan with exclusive features at a discounted pricing from Anvayaa's listed care plans. As a privileged ICICI
    Bank  Customer, you can avail this plan to care for your elderly in India or for yourself. GST will be charged as applicable.
  </p>
</div>
<div class="row rowBackgroundColor">
  <div class="col-sm-6">
    <img src="../../assets/images/2018-03-11-PHOTO-00000518.jpg" class="ppt-img">
  </div>
  <div class="col-sm-6">
    <h1 class="icicielderplantitel">Anvayaa ICICI Bank Elder Care Plan</h1>
    <ul>
      <li class="planNames">Plan covers Upto 2 Elders residing in the same address</li>
      <li class="planNames">Dedicated 24x7 Helpine for Elders</li>
      <li class="planNames">Care Manager 24x7 call and chat support available</li>
      <li class="planNames">24 Personal Care Manager visits included</li>
      <li class="planNames">Access to a Host of third party services available</li>
      <li class="planNames">Access to Anvayaa App for real time updates</li>
      <li class="planNames">Emergency Assistance 24x7</li>
    </ul>


  </div>
  <!-- <div class="text-center">
    <button class="btn  btnRegister" (click)="RegisterPage()">Register</button>
  </div> -->
</div>


<div class="planDetailsHeader">

  ICICI BANK ELDER CARE PLAN - ₹ 82000 + GST per year
</div>
<div class="row">
  <div class="col-md-6">
    <h2 class="icicielderplantitel">HealthCare</h2>
    <p>A holistic health check offering for elders at the comfort of the home</p>
    <ul>
      <li class="planNames">2 Master Health Check-up - Free</li>
      <li class="planNames">2 Expert Physiotherapy sessions at home - Free</li>
      <li class="planNames">2 Virtual doctor Consultations- Free</li>
      <li class="planNames">1 Quarterly Nurse visit at home for wellbeing &amp; Vital check-ups - Free</li>
      <li class="planNames">Care Manager Accompanied Hospital visits (12 visits per Year covered under the plan)</li>

    </ul>
  </div>
  <div class="col-md-6 ">
    <img src="../../assets/images/health-care.jpg" class="ppt-img">
  </div>

</div>

<div class="row rowBackgroundColor">
  <div class="col-md-6 ">
    <img src="../../assets/images/crisis-care-emergency-services.jpg" class="ppt-img">
  </div>
  <div class="col-md-6 ">
    <h2 class="icicielderplantitel">24 x 7 Unlimited Emergency Care Assistance </h2>
    <p>Eliminating panic during SOS, offering peace of mind.</p>
    <ul>
      <li class="planNames">A dedicate helpline number accessible 24X7, 365 days a year - will be available for elders
        to call during medical &amp; non-medical emergency.</li>
      <li class="planNames">Unlimited 24x7 Emergency Assistance</li>
      <li class="planNames">Care Manager accompanied Hospitalization Management. A dedicated care manager would assist
        the elderly with admission, hospital billing, insurance, paperwork &amp; real time updates to children via
        Anvayaa Mobile App (both on Android &amp; iOS)</li>
      <li class="planNames">Emergency Medical profiling of the elderly to eliminate panic during emergencies</li>
      <li class="planNames">Ambulance Assistance</li>
    </ul>
  </div>
</div>

<div class="row">

  <div class="col-md-6 ">
    <h2 class="icicielderplantitel">Companionship Care & Unique Exeriences</h2>
    <p>Spirited, Empathetic & Meaningful companionship for elders</p>
    <ul>
      <li class="planNames">Fun and wellbeing programs of elderly</li>
      <li class="planNames">Weekly well-being calls from care team to check up on elders and promote companionship
      </li>
      <li class="planNames">Regular workshops on mental health awareness in older adults, fall prevention, yoga, food
        and nutrition, resilience building, tech frauds and more.</li>
      <li class="planNames">Care Manager accompanied (12 visits per year covered under the plan) outings, shopping,
        movie, functions, places of worship, fine dining, special day celebrations, tours and travel, airport
        transfers and more.</li>

    </ul>


  </div>
  <div class="col-md-6 ">
    <img src="../../assets/images/image.png" class="ppt-img">
  </div>

</div>

<div class="row rowBackgroundColor">
  <div class="col-md-6 ">
    <img src="../../assets/images/daily-care-takers.jpg" class="ppt-img">
  </div>
  <div class="col-md-6 ">
    <h2 class="icicielderplantitel">Daily Care Assistance</h2>
    <p> Ensuring hassle free support all the way &amp; preferred rates</p>
    <ul>
      <li class="planNames">Coordinate daily needs to help with Internet set up, Plumber, Carpenter, Mason, Electrical
        Home repair and Maintenance and more.</li>
      <li class="planNames">Help with Food and Grocery Delivery etc</li>
      <li class="planNames">Arrange for Maid / Cook Services and more</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 ">
    <h2 class="icicielderplantitel">Payment Care</h2>
    <p> Prepaid account to manage everyday &amp; medical emergencies expenses</p>
    <ul>
      <li class="planNames">Expense Management and Bill payments</li>
      <li class="planNames">Maintain reimbursement account for managing elder's home, medical and other Expenses</li>
      <li class="planNames">Real time tracking of expenses using the Anvayaa app.</li>
    </ul>
  </div>
  <div class="col-md-6 ">
    <img src="../../assets/images/payment-care.jpg" class="ppt-img">
  </div>

</div>


<div class="row rowBackgroundColor">
  <div class="col-md-6 ">
    <img src="../../assets/images/other-care.jpg" class="ppt-img">
  </div>
  <div class="col-md-6 ">
    <h2 class="icicielderplantitel">Other Care</h2>
    <p> Ensuring hassle free support all the way &amp; preferred rates</p>
    <ul style="padding-left:0px ;">
      <li class="planNames">Plan includes 24 Covered Care Manager visits</li>
      <li class="planNames">Access to Anvayaa App to track real time emergency, meds &amp; reminders, EMR and payments
      </li>
      <li class="planNames">24X7 Elder Care Helpline with Call and Chat support</li>
      <li class="planNames">Access to a host of Third-Party Services on PAY &amp; USE AT ACTUALS listed</li>
    </ul>
  </div>
</div>



<div style="background-color: #fff;">
  <div class="text-center">
    <button type="button" class="btn btnRegister" (click)="RegisterPage()">Buy Plan</button>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 logo-box">
        <img src="https://www.anvayaa.com/src/img/footer-logo.png" alt="Anvayaa" title="Anvayaa">
      </div>
      <div class="col-md-6 clearfix">

        <ul class="footer-links">
          <li class="heading"><a href="https://www.anvayaa.com/our-values">Care Story</a></li>
          <li><a href="https://www.anvayaa.com/our-values">Our Values</a></li>
          <li><a href="https://www.anvayaa.com/care-team">Care Team</a></li>
          <li><a href="https://www.anvayaa.com/care-plans">Plans</a></li>
          <li><a href="https://www.anvayaa.com/blog">Blog</a></li>
        </ul>

        <ul class="footer-links">
          <li class="heading"><a href="https://www.anvayaa.com/care-connect">Support</a></li>
          <li><a href="https://www.anvayaa.com/care-facts">Care Facts</a></li>
          <li><a href="https://www.anvayaa.com/events">Events</a></li>
          <li><a href="https://www.anvayaa.com/media">Media</a></li>
          <li><a href="https://www.anvayaa.com/gallery">Gallery</a></li>
        </ul>

        <ul class="footer-links">
          <li class="heading"><a href="https://www.anvayaa.com/care-connect">Care Connect</a></li>
          <!--<li><a href="mailto:info@anvayaa.com">info@anvayaa.com</a></li>-->
          <li><a href="mailto:connect@anvayaa.com">connect@anvayaa.com</a></li>
          <li>+91 7288818181</li>
          <li>+91 939 2682922</li>
          <li><a href="https://www.anvayaa.com/careers">Careers</a></li>
        </ul>

        <ul class="footer-links social">
          <li class=" heading"><a href="http://anvayaafranchise.com/" target="_blank">Franchise Enquiry</a></li>
          <li class="heading">Follow Us</li>
          <li><a href="https://www.facebook.com/anvayaa"><span class="fa fa-facebook"></span></a></li>
          <li><a href="https://www.instagram.com/anvayaa_kincare/"><span class="fa fa-instagram"></span></a></li>
          <li><a href="https://www.linkedin.com/company/anvayaa-kin-care-private-limited"><span
                class="fa fa-linkedin"></span></a></li>

          <li style="margin-bottom: 5px;"><a href="https://twitter.com/anvayaa123"><span
                class="fa fa-twitter"></span></a></li>
          <li><a href="https://www.youtube.com/channel/UCp7ehwLGrSwKBLb9L_10z_A"><span
                class="fa fa-youtube-play"></span></a></li>
          <li><a href="https://www.anvayaa.com/terms-and-conditions">Terms &amp; Conditions</a> | <a
              href="https://www.anvayaa.com/privacy-policy">Privacy Policy</a></li>
        </ul>

      </div>
      <div class="col-md-3">
        <h3>You Need a Helping Hand for your Parents?</h3>
        <nav class="app-links">
          <a href="https://itunes.apple.com/in/app/anvayaa/id1123534017?mt=8" target="_blank"><img
              src="https://www.anvayaa.com/src/img/appstore.png" alt="Anvayaa on App Store"
              title="Anvayaa on App Store"></a>
          <a href="https://play.google.com/store/apps/details?id=com.xrg.androidanvayaa" target="_blank"><img
              src="https://www.anvayaa.com/src/img/playstore.png" alt="Anvayaa on Google Playstore"
              title="Anvayaa on Google Playstore"></a>
        </nav>
        <!-- img src="https://www.anvayaa.com/src/img/footer-logo.png" alt="Anvayaa" title="Anvayaa" style="display: block; width: 100%; max-width: 240px; margin: 15px 0;" -->
      </div>
    </div>
  </div>
</footer>

<div class="row">
  <div class="col-md-3">
    <div class="modal-dialog modal-xl">

    </div>
  </div>
</div>

<div class="modal" id="exampleModalToggle">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="border-style: solid;">
        <h4 class="modal-title" style="color:#914573 ;">Know More !!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="formouterDiv" style="border-style: solid;">

                <form [formGroup]="CallBackForm">
                  <div class="form-group cb_form_unit">
                    <label class='formLabel' for="exampleFormControlTextarea1">Name *</label>
                    <input type="text" class="form-control" placeholder="Your Name" formControlName="Name">
                  </div>
                  <div class="form-group cb_form_unit" *ngIf="onSubmitClick==true && CallBackForm.value.Name==''">
                    <label class='formLabel error' for="exampleFormControlTextarea1">* Name is Mandatory</label>
                  </div>
                  <div class="form-group cb_form_unit">
                    <label class='formLabel' for="exampleFormControlTextarea1">Email *</label>
                    <input type="email" class="form-control" placeholder="Your Email" formControlName="EmailID"
                      required>
                  </div>
                  <div class="form-group cb_form_unit"
                    *ngIf="onSubmitClick==true && CallBackForm.controls['EmailID'].status=='INVALID'">
                    <label class='formLabel error' for="exampleFormControlTextarea1">* Invalid Email</label>
                  </div>
                  <div class="form-group cb_form_unit">
                    <label class='formLabel' for="exampleFormControlTextarea1">Mobile Number *</label>
                    <div>
                      <ngx-intl-tel-input [enableAutoCountrySelect]="true" [searchCountryFlag]="true"
                        [searchCountryField]="[
                            SearchCountryField.Iso2,
                            SearchCountryField.Name
                          ]" (countryChange)="onCountryChange($event)" [selectedCountryISO]="CountryISO.UnitedStates"
                        formControlName="CountryCode" [maxLength]="15" [phoneValidation]="false"
                        [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone"
                        customPlaceholder="Phone Number" style="font-size:16px">

                      </ngx-intl-tel-input>
                    </div>
                  </div>
                  <div class="form-group cb_form_unit"
                    *ngIf="onSubmitClick==true && CallBackForm.value.CountryCode==null">
                    <label class='formLabel error' for="exampleFormControlTextarea1">* MobileNumber is Mandatory</label>
                  </div>
                  <div class="cb_form_unit" style="width:40%; margin-left: 30%;">
                    <button type="button" class="btn SubmitButton" (click)="onSubmitDetails()">Submit Now</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalTogglewwww" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color:red">
        <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <div class="formouterDiv">
              <div class="callBacktitel knowmeDiv">
                <button class="callBacktitel">Know More !!</button>
              </div>
              <form [formGroup]="CallBackForm">
                <div class="form-group cb_form_unit">
                  <label class='formLabel' for="exampleFormControlTextarea1">Name *</label>
                  <input type="text" class="form-control" placeholder="Your Name" formControlName="Name">
                </div>
                <div class="form-group cb_form_unit" *ngIf="onSubmitClick==true && CallBackForm.value.Name==''">
                  <label class='formLabel error' for="exampleFormControlTextarea1">* Name is Mandatory</label>
                </div>
                <div class="form-group cb_form_unit">
                  <label class='formLabel' for="exampleFormControlTextarea1">Email *</label>
                  <input type="email" class="form-control" placeholder="Your Email" formControlName="EmailID" required>
                </div>
                <div class="form-group cb_form_unit"
                  *ngIf="onSubmitClick==true && CallBackForm.controls['EmailID'].status=='INVALID'">
                  <label class='formLabel error' for="exampleFormControlTextarea1">* Invalid Email</label>
                </div>
                <div class="form-group cb_form_unit">
                  <label class='formLabel' for="exampleFormControlTextarea1">Mobile Number *</label>
                  <div>
                    <ngx-intl-tel-input [enableAutoCountrySelect]="true" [searchCountryFlag]="true"
                      [searchCountryField]="[
                          SearchCountryField.Iso2,
                          SearchCountryField.Name
                        ]" (countryChange)="onCountryChange($event)" [selectedCountryISO]="CountryISO.UnitedStates"
                      formControlName="CountryCode" [maxLength]="15" [phoneValidation]="false"
                      [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone"
                      customPlaceholder="PhoneNumber" style="font-size:16px">

                    </ngx-intl-tel-input>
                  </div>
                </div>
                <div class="form-group cb_form_unit"
                  *ngIf="onSubmitClick==true && CallBackForm.value.CountryCode==null">
                  <label class='formLabel error' for="exampleFormControlTextarea1">* MobileNumber is Mandatory</label>
                </div>
                <div class="cb_form_unit" style="width:40%; margin-left: 30%;">
                  <button type="button" class="btn SubmitButton" (click)="onSubmitDetails()">Submit Now</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-2">

          </div>


        </div>

      </div>

    </div>
  </div>
</div>

<a class="btn btn-primary" class="float-call" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><img
    src="assets/images/calling.png" alt="" class="img-responsive" style="height: 70px;"></a>

<a target="_blank"
  href="https://wa.me/919392682922?text=Hi, I am ICICI Bank  Customer Comming Through Your Microsite"
  title="WhatsApp Us" class="float">
  <img src="assets/images/whatsapp.png" alt="" class="img-responsive" style="height: 70px;"></a>

<section class="copyright-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <small>©{{year}} Anvayaa Kincare Pvt. Ltd. All Rights Reserved </small>
      </div>
      <div class="col-sm-6">
        <small><b>Available in Hyderabad, Mumbai, Bangalore, Chennai, Delhi, Gurgaon, Faridabad, Noida, Ghaziabad,
            Kolkata, Pune, Vishakhapatnam, Coimbatore, Mangalore, Bhubaneshwar, Mysore, Ahmedabad, Indore,
            Thiruvananthapuram, Tirupur, Kollam, Pathanamthitta, Kakinada, Pollachi,Rajahmundry, Vijayawada, Guntur,
            Chandigarh, Mohali,Panchkula, Salem, Belgavi, Hubli, Davanagereli, Thanjavuru</b></small>
      </div>

    </div>
  </div>
</section>