<div class="mainDiv">
    <h3>Transaction Details</h3>
<div class="table-responsive card">
    <table class="table">
        <thead>
            <tr>
                <th>Reference No.</th>
                <th>Value Date</th>
                <th>Withdrawl Amount</th>
                <th>Deposit Amount</th>
                <th>Transaction For </th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <!-- ngRepeat: transaction in  transactions -->
        </tbody>
    </table>
</div>
</div>
