<div class="bodycontent">
  <div class="login-wrapper container">
      <div class="row text-center loginheads">
          <h2 class="banner" style="font-size: 32px">WELCOME TO ICICI BANK PORTAL</h2>

          <p style="font-size: 16px;">One stop parent care solution, for your peace of mind.</p>
      </div>


      <div class="row">
          <div class="col-sm-4"></div>
          <div class="form-signin col-sm-4 col-md-4">
              <div class="form-signin-inside">
                <form class="" role="form"
                 [formGroup]="forgotpasswordform">

                  <h3 class="form-forgotpassword-heading" style="color:red"></h3>
                  <h1>Forgot Password?</h1>
                  <div class="row">
                      <div class="form-group col-sm-12 search">
                        <label for="emailid">Email Id</label>
                          <span class="faicon "> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <input type="email" formControlName="EmailID" class="form-control" id="EmailID"
                              placeholder="Registered Mail" style="padding-left: 50px;" name="email" data-ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                              required>

                      </div>
                    </div>
                    <div class="form-group">
                      <button class="Submit-btn-lg  pull-right" type="submit" style="float: right;" (click)="forgotpassword()">Submit</button>
                      <div class="clearfix"></div>
                  </div>
                  <div style="cursor: pointer;" class="registernow"> <span (click)="LoginPage()">  Login/ </span><span (click)="RegisterPage()">Register</span>  </div>
              </form>
          </div>
        </div>
        <div class="col-sm-4"></div>
</div>
</div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "white" type = "ball-scale-multiple" [fullScreen] = "true">
  <p style="color: white" > Loading... </p></ngx-spinner>






