




    <div class="bodycontent">


        <div *ngIf="paymentDetailsData.PaymentStatus==undefined">
           <p id="notFound">Payment Details Not Found</p>
        </div> 
       <div *ngIf="paymentDetailsData.PaymentStatus!=undefined">
           <div class="row"  >
    
               <h1 *ngIf="paymentDetailsData.PaymentStatus=='Approved'"><span style="color: #4BB543">Payment Success</span></h1>
               <h1 *ngIf="paymentDetailsData.PaymentStatus!='Approved'"><span style="color:#d71e38;">Payment Failed</span></h1>
           </div>
           <div class="row">
               <div class="col-md-6 ">
                   <div class="card">
                       <div class="card-body">
                           <ul class="list-group">
                               <li class="list-group-item " id="packageName"><span>Payment Details</span></li>
                               <li class="list-group-item d-flex justify-content-between">Payment
                                   ID<span>{{paymentDetailsData.AnvayaaPaymentID}}</span></li>
                               <li class="list-group-item d-flex justify-content-between">Transaction Id
                                   <span>{{paymentDetailsData.GatewayTransactionID}}</span>
                               </li>
                               <li class="list-group-item d-flex justify-content-between">Price
                                   <span>{{paymentDetailsData.TotalPrice}}</span>
                               </li>
                               <!-- <li class="list-group-item d-flex justify-content-between">Transaction Time
                                   <span>{{paymentDetailsData.TransactionTime}}</span>
                               </li>
                               <li class="list-group-item d-flex justify-content-between">Bank ReferenceNumber
                                   <span>{{paymentDetailsData.BankReferenceNumber}}</span>
                               </li> -->
                           </ul>
                       </div>
                   </div>
               </div>
              
               
           </div>
       </div>
       
   </div>
   


   <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="white" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>