<div class="container" style="padding-top: 10%;">
  <div class="col-sm-12">
    <hr class="headerline">
    <span class="rowheader">Profile Update</span>
</div>
<div class="row" ng-show="profielupdate == true" ng-cloak>
  <div class="col-sm-1 "></div>
  <div class="login-wrapper container" ng-show="profielupdate == true" ng-cloak>
      <div class="row">
          <div class="modal fade" id="profileupdate" role="dialog" aria-hidden="true" data-backdrop="static"
              data-keyboard="false">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header model">
                          <button type="button" class="close" ng-click="goto()" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title header">Profile Update</h4>
                      </div>
                      <div class="modal-body appointment-modal">
                          <div class="row">
                              <div class="col-sm-12 details-row text-center">
                                  <img src="images/confirmation_512.png" height="150">
                              </div>
                              <div class="col-sm-12 details-row text-center">
                                  <h2 style="font-weight: 300">Your Profile Is updated</h2>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="anvayaa-btn-lg pull-right" ng-click="goto()">ok</button>
                      </div>
                  </div>
              </div>
          </div>
          <form class="form-signin col-sm-8" name="ProfileUpdateForm" role="form" novalidate show-validation>
              <div class="form-signin-inside">
                  <span class="rowheader topmargin20">Profile Details</span>
                  <div class="row topmargin20">
                      <div class="col-sm-12">
                          <div class="row">
                              <div class="form-group col-sm-4">
                                  <div class="profile-pic">
                                      <!-- <img src="{{profile.BeneficiaryProfileImageURL}}" width="150" height="150"
                                          ng-if="profile.BeneficiaryProfileImageURL && !profile.file"> -->
                                      <img ngf-thumbnail="profile.file" width="150" height="150" alt="no image"
                                          ng-if="profile.file">
                                      <img src="images/default-user_512.png" width="150" height="150" alt="no image"
                                          ng-if="!profile.BeneficiaryProfileImageURL && !profile.file ">
                                      <div class="edit"></div>
                                      <input id="myFileInput" type="file" ngf-select ng-model="profile.file"
                                          name="FileField" accept="image/*" />
                                      <br>
                                      <button class="anvayaa-btn-lg "
                                          style="border-radius: 3em;border: 1px solid #e4e4e4;border-color: #d94165;color: #009cde;background:#fff;padding-left: 12px;padding-right: 12px; "
                                          ng-show="!profile.BeneficiaryProfileImageURL"
                                          onclick="document.getElementById('myFileInput').click()"><i
                                              class="fa fa-pencil fa-lg"></i>Upload Photo</button>
                                      <!-- <button
                                          style="border-radius: 3em;border: 1px solid #e4e4e4;border-color: #d94165;color: #009cde;background:#fff;padding-left: 12px;padding-right: 12px; "
                                          class="anvayaa-btn-lg "
                                          onclick="document.getElementById('myFileInput').click()"
                                          ng-show="profile.BeneficiaryProfileImageURL"><i
                                              class="fa fa-pencil fa-lg"></i>change</button> -->
                                  </div>
                                  <br>
                                  <br>
                                  <div class="form-group col-sm-12">
                                      <select class="form-control form-select " name="Parent" required ng-model="CustID">
                                          <option value="" selected="selected" disabled="disabled">please select
                                          </option>
                                          <!-- <option value="{{Beneficiaries.CustID}}" ng-repeat="Beneficiaries in users">
                                              {{Beneficiaries.Name}}</option> -->
                                      </select>
                                  </div>
                              </div>
                              <div class="col-sm-8">
                                  <div class="row">
                                      <div class="col-sm-6 form-group  search">
                                          <label for="Name"> Name </label>
                                          <span class="faloicon "> <i class="fa fa-male"
                                                  aria-hidden="true"></i></span>
                                          <input type="text" ng-model="profile.Name" class="form-control"
                                              name="FirstName" placeholder=" Name" required>
                                          <!-- <span for="Parent" class="error"
                                              ng-show="ProfileUpdateForm.FirstName.$invalid && showErrors">First Name
                                              is Required </span> -->
                                      </div>

                                      <div class="col-sm-6 form-group  search">
                                          <label for="Age">Age</label>
                                          <span class="faloicon "> <i class="fa fa-mobile"
                                                  aria-hidden="true"></i></span>
                                          <input type="text" ng-model="profile.Age" class="form-control" id="password"
                                              placeholder="Age" name="fAge" required data-ng-pattern='/^[0-9]+$/'>
                                          <!-- <span for="Parent" class="error"
                                              ng-show="ProfileUpdateForm.fAge.$invalid && showErrors">
                                              Age must be number </span> -->
                                      </div>
                                      <div class="col-sm-6 form-group  search">
                                          <label for="MobileNumber">Parent Mobile Number</label>
                                          <span class="faloicon "> <i class="fa fa-mobile"
                                                  aria-hidden="true"></i></span>
                                          <input type="text" ng-model="profile.MobileNumber" class="form-control"
                                              id="password" placeholder="Parent Mobile Number"
                                              name="ParentMobileNumber" required ng-pattern="/^[6-9][0-9]{9}$/">
                                          <!-- <span for="Parent" class="error"
                                              ng-show="ProfileUpdateForm.ParentMobileNumber.$invalid && showErrors">
                                              Mobile Number is Required</span>
                                          <span class="error"
                                              ng-show="ProfileUpdateForm.ParentMobileNumber.$error.pattern">
                                              Enter Valid Mobile Number </span> -->
                                      </div>
                                      <div class="col-sm-9 form-group ">
                                          <label for="Address">Address</label>
                                          <textarea style="resize: none; height: 80px" class="form-control "
                                              name="Address" required placeholder="Address" ng-model="profile.Address"
                                              cols="5" rows="3"></textarea>
                                          <!-- <span for="Name" class="error"
                                              ng-if="ProfileUpdateForm.Address.$invalid && showErrors">Required
                                          </span> -->
                                      </div>
                                      <!-- <div class="col-sm-6 form-group  search" ng-if="false">
                                          <label for="Email">Email</label>
                                          <span class="faloicon"> <i class="fa fa-envelope"
                                                  aria-hidden="true"></i></span>
                                          <input type="email" ng-model="profile.ParentEmailID" class="form-control"
                                              id="password" placeholder="Email" name="fEmail">
                                          <span for="Name" class="error"
                                              ng-if="ProfileUpdateForm.fEmail.$invalid && showErrors">Required </span>

                                      </div> -->
                                      <!-- <div class="col-sm-6 form-group  search" ng-if="false">
                                          <label for="ContactNumber">Other Contact Number</label>
                                          <span class="faloicon "> <i class="fa fa-mobile"
                                                  aria-hidden="true"></i></span>
                                          <input type="text" ng-model="profile.SecondaryContactNumber"
                                              class="form-control" name="FatherSecondaryContactNumber"
                                              placeholder=" Secondary Contact Number" ng-minlength="10"
                                              ng-maxlength="13">
                                          <span for="Password" class="error"
                                              ng-if="ProfileUpdateForm.FatherSecondaryContactNumber.$error.minlength ">Number
                                              should Be Atlest 10 digits</span>
                                          <span for="Password" class="error"
                                              ng-if="ProfileUpdateForm.FatherSecondaryContactNumber.$error.maxlength ">Number
                                              Cannot Be More than 13 digits</span>
                                      </div> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="form-group">
                      <button type="submit" ng-click="ProfileUpdate(ProfileUpdateForm)"
                          class="anvayaa-btn-lg pull-right">Save</button>
                  </div>
                  <br>
                  <br>
              </div>
          </form>
      </div>
  </div>
</div>
</div>
