
<div class="bodycontent">

<div class="login-wrapper">
  <div class="row">
      <div class="modal fade" id="PasswordChange" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" click="ChangePassword()" >&times;</button>
                      <h4 class="modal-title">Change Password</h4>
                  </div>
                  <div class="modal-body appointment-modal">
                      <div class="row">
                          <div class="col-sm-12 ">

                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="anvayaa-btn-lg pull-right" click="ChangePassword()">ok</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4"></div>
      <form class="form-signin col-sm-4" name="ChangePasswordForm" role="form" novalidate show-validation>
          <div class="form-signin-inside">
            <form class="" role="form" [formGroup]="changePasswordform">
              <div class="row"> <span for="Name" class="error"></span>
                  <div class="form-group topmargin20 search">
                      <label for="Location">Current Password</label>
                      <span class="falaicon "> <i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                      <input type="password" formControlName="CurrentPassword" class="form-control" placeholder="CurrentPassword" required="">
                  </div>
                  <div class="row">

                    <label for=""></label>
                  </div>
                  <label class="error"  *ngIf="this.changePasswordform.controls['CurrentPassword'].status=='INVALID' && changePsdBtn==true"> *Enter Current Password</label>
                  <div class="form-group topmargin20 search">
                      <label for="password"> New Password</label>
                      <span class="falaicon "> <i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                      <input type="password" formControlName="NewPassword" class="form-control" placeholder="NewPassword" required="">

                  </div>
                  <label class="error"  *ngIf="this.changePasswordform.controls['NewPassword'].status=='INVALID' && changePsdBtn==true"> *Enter New Password </label>
                  <div  class="form-group topmargin20 search" (keyup)="passwod()">
                      <label for="password">Confirm Password</label>
                      <span class="falaicon "> <i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                      <input type="password" formControlName="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" required="">

                  </div>
                  <label  class="error" *ngIf="this.changePasswordform.controls['ConfirmPassword'].status=='INVALID' && changePsdBtn==true"> *Enter Confirm Password</label>
                  <label for=""  *ngIf="!passwordValidation" style="color: red;">*Password Not Match</label>
              </div>
              <div class="form-group">
                  <button type="submit" (click)="changepasswordBtn()" class="savebutton pull-right">Save</button>
              </div>

      </form>
      <div class="col-sm-4"></div>
  </div>

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "white" type = "ball-scale-multiple" [fullScreen] = "true">
    <p style="color: white" > Loading... </p></ngx-spinner>
    

